<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper" data-namespace-typo3-fluid="true">
<f:layout name="Detail" />
<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
    		<f:render partial="Detail/Article" arguments="{newsItem: newsItem, newsRecords: newsRecords, settings:settings}" />
		</f:then>
		<f:else>
    		<f:render partial="Detail/Article" arguments="{newsItem: newsRecords.0, newsRecords: newsRecords, settings:settings}" />		
		</f:else>
	</f:if>
</f:section>
</html>
