/vendor/*
/public/index.php
/public/typo3/*
/public/typo3conf/ext/*
.DS_Store
/var/log/*
/var/session/*
/public/typo3conf/LocalConfiguration.php
# allow some extensions
!/public/typo3conf/ext/dce
!/public/typo3conf/ext/jd_ogmeta
!/public/typo3conf/ext/rte_config
!/public/typo3conf/ext/prefix_*