<footer class="site-footer">
  <div>
    <div>
      <h2>Ihr Spezialist</h2>
      <div class="site-footer__content">
        <address>HR GLAS GmbH <em>&bull;</em> Heugatterstrasse 27b <em>&bull;</em> 8600 Dübendorf <em>&bull;</em> 044 557 52 32 <em>&bull;</em> <a href="mailto:info@hr-glas.ch">info@hr-glas.ch</a></address>
        <nav class="footer">
          <a href="/impressum">Impressum</a> <em>&bull;</em> <a href="/datenschutz">Datenschutz</a> <em>&bull;</em> <a href="https://stoz.ch" target="_blank" rel="nofollow">design by stoz</a>
        </nav>
      </div>
    </div>
  </div>
</footer>