<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<f:format.raw>{pageTitle}</f:format.raw>
<meta name="keywords" content="Spezialist für rahmenlose Glas-Duschen nach Mass, Glasfirma, Glasmontage, Farbige Glasrückwände, Küchenrückwände, Glasdruck, Personalisierte Glasmagnetwände, Foto als Glasmagnetwand, 8600 Dübendorf, Eglisau, Oberglatt, Zürcher Unterland, Region Zürich, Hanspeter Graf, Roland Derungs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/fileadmin/assets/css/app.css">
<script src="/fileadmin/assets/js/modernizr.js"></script>
</head>
<body>
<f:render section="body" />
<script src="/fileadmin/assets/js/app.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174562472-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-174562472-1');
</script>
</body>
</html>
<!-- made with ♥ by marceli.to -->
